{% extends 'base.html.twig' %}
{% block body %}

    <div class="post">
        <div class="post-content">
            <h1> {{ post.getTitle }}</h1> <br>
            <div class="date">
                <p>Publier le {{ post.getCreatedAtString }}</p>
                {% if post.getCreatedAtString != post.getUpdatedAtString %}
                    <p>Dernière modification le {{ post.getUpdatedAtString }}</p> <br>
                {% endif %}
            </div>
            {% if post.getDescription != null %}
                <h3> {{ post.getDescription }}</h3> <br>
            {% endif %}
        </div>
        <div class="post-picture">
            <img src="{{ asset(post.getPicturePath) }}" alt="Image du Post">
        </div>
    </div>
    <hr style="height: 5px">

    <div class="post-sources">
        <div class="post-author">
            {% include 'user/user-miniprofile.html.twig' with {user:post.getAuthor} %}
        </div>
        <div class="post-game">
            {% include 'game/game-miniprofile.html.twig' with {game:post.getGame} %}
        </div>
        {% if is_granted('ROLE_USER') and post.getAuthor.getId == app.user.getId or is_granted('ROLE_ADMIN') %}
            <div class="post-actions">
                <p>Actions :</p>
                <a href="{{ path("post_delete", {postId:post.getId}) }}">
                    <button type="button" class="btn btn btn-danger btn-lg">Supprimer</button>
                </a>
                {% if post.getAuthor.getId == app.user.getId %}
                    <a href="{{ path("post_modify", {postId:post.getId}) }}">
                        <button type="button" class="btn btn-primary btn-lg">Modifier</button>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <hr style="height: 5px">

    <h3>Commentaires</h3>
    <div class="post-comments">
        <div class="post-comment-create">
            <a href="{{ path("comment_create", {postId:post.id}) }}">
                <button type="button" class="btn btn-primary btn-lg">Ajouter un commentaire</button>
            </a>
        </div><br>
        {% for comment in comments %}
            {% include 'comment/comment-miniprofile.html.twig' with {comment:comment} %}
        {% endfor %}
    </div>
{% endblock %}
